{% extends 'eretails/base.html' %}

{% block content %}
    <br>
    <div class = "row">

        <div class = "col-md-6">
            <div class = "card card-body" >
                <h5> Products </h5>
            </div><br>
            <div class = "card card-head">
                <table class = "table">
                    <tr>
                        <th> Products </th>
                        <th> Category </th>
                        <th> Price </th>
                        <th></th>
                    </tr>
                    
                    {% for i in products %}
                    <tr>
                    
                        <td>{{i.name}}</td>
                        <td>{{i.category}}</td>
                        <td style = "color:red;" >{{i.price}}</td>
                        <td> <a href = ""> View </a></td>
                    
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div><hr>

<div class = "row">
	<div class = "col-md-2">
		<div class = "card card-body">

		<a class = "btn btn-sm btn-info" href =""> Create Product </a>

		</div>
	</div>
</div>

{% endblock %}